# React Native
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/.gradle/
*.apk
*.ap_
*.aab

# iOS for later)
ios/Pods/
ios/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Private keys 
*.pem
*.key
keystore.jks
